body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1,
p {
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
}

.container-mobile {
    max-width: 320px;
    margin: auto;
    height: 40vh;
}

.container-desktop {
    display: none;
}

#mock-up {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-top: 4rem;
}

#logo {
    width: 40%;
    padding-top: 1.5rem;
    padding-left: 1rem;
}

#button-mobile {
    margin: 0 auto;
    display: block;
    background-color: white;
    border: none;
    color: hsl(257, 40%, 49%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    width: 65%;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social-media-logos {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 2rem;
}

.sm-logo {
    padding: 10px;
}

@media only screen and (min-width: 1000px) {

    body {
        background-color: hsl(257, 40%, 49%);
        background-image: url(images/bg-desktop.svg);
        background-position: -190px;
        background-size: cover;
        color: white;
    }



    .container-mobile {
        display: none;
    }

    .container-desktop {
        display: flex;
    }

    .left-side {
        width: 55%;
    }

    .right-side {
        width: 45%;
        margin-top: 7rem;
    }

    #desktop-info {
        text-align: left;
        padding-right: 100px;
        padding-left: 0;
        margin-top: 5px;
    }

    #desktop-heading {
        text-align: left;
        padding-right: 150px;
        margin-bottom: 5px;
    }



    #logo {
        width: 20%;
    }

    #mock-up {
        width: 90%;
    }

    #button-desktop {
        display: block;
        background-color: white;
        border: none;
        color: hsl(257, 40%, 49%);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        border-radius: 50px;
        width: 35%;
    }

    #button-desktop:hover {
        background-color: hsl(300, 69%, 71%);
        color: white;
    }

    .social-media-logos {
        display: none;
    }

    .social-media-logos-desktop {
        position: absolute;
        top: 95%;
        left: 90%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .sm-logo-desktop {
        width: 30px;
        height: auto;

    }
}
